<%@ Master Language="C#" AutoEventWireup="true"
    CodeBehind="Master.master.cs"
    Inherits="TPCRestoBar.Master" %>

<!DOCTYPE html>

<html lang="es">
<head runat="server">

    <meta charset="utf-8" />

    <title>RestoBar3</title>

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link href="Styles/site.css" rel="stylesheet" />


</head>

<body>

<form id="form1" runat="server">

<div class="wrapper">

   

    <aside class="sidebar">

        <div class="logo">

            <div class="logo-icon">
                🍽
            </div>

            <h3>RESTOBAR3</h3>

            <span>Restaurant Manager</span>

        </div>

        <ul class="menu">

            <li>
                <a href="Default.aspx">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </a>
            </li>

            <li>
                <a href="Carta.aspx">
                    <i class="bi bi-journal-richtext"></i>
                    Carta
                </a>
            </li>

            <li>
                <a href="Pedidos.aspx">
                    <i class="bi bi-bag-fill"></i>
                    Pedidos
                </a>
            </li>

            <li>
                <a href="Mesas.aspx">
                    <i class="bi bi-grid-3x3-gap-fill"></i>
                    Mesas
                </a>
            </li>

            <li>
                <a href="MasasMeseros.aspx">
                    <i class="bi bi-grid-3x3-gap-fill"></i>
                    Mis Mesas
                </a>
            </li>

            <li>
                <a href="Producto.aspx">
                    <i class="bi bi-box-seam"></i>
                    Productos
                </a>
            </li>

            <li>
                <a href="Categorias.aspx">
                    <i class="bi bi-tags-fill"></i>
                    Categorías
                </a>
            </li>

            <li>
                <a href="Empleados.aspx">
                    <i class="bi bi-people-fill"></i>
                    Empleados
                </a>
            </li>
             <%if (Session["usuario"] == null)
            { %>
                <li>
                    <a href="Login.aspx">
                        <i class="bi bi-person-circle"></i>
                        Login
                    </a>
                </li>
            <%} %>
            <%if (Session["usuario"] != null)
              { %>

            <li>
                <asp:Button ID="btnCerrar" CssClass="btn btn-resto" runat="server" Text="Cerrar Sesion" OnClick="btnCerrar_Click"/>
            </li>

            <%} %>

        </ul>

    </aside>

 

    <div class="main">

        <header class="topbar">

            <div>
                <h4 class="m-0">
                    Sistema de Gestión Restobar
                </h4>
            </div>

            <div class="usuario">

                <i class="bi bi-person-circle"></i>

                Administrador

            </div>

        </header>

        <main class="contenido">

            <div class="contenido-card">

                <asp:ContentPlaceHolder
                    ID="ContentPlaceHolder1"
                    runat="server">
                </asp:ContentPlaceHolder>

            </div>

        </main>

        <footer>

            © 2026 - Sistema de Gestión Restobar

        </footer>

    </div>

</div>

</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>