*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#EEF2F5;

}

.wrapper {
    display: flex;
    min-height: 100vh;
}





.sidebar {
    width: 260px;
    background: #273746;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    padding: 35px 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

    .logo h2 {
        font-size: 50px;
    }

    .logo h3 {
        color: #F39C12;
        margin-top: 10px;
        font-weight: bold;
    }

    .logo span {
        color: #bbb;
        font-size: 14px;
    }

.menu {
    list-style: none;
    padding: 20px;
}

    .menu li {
        margin-bottom: 10px;
    }

    .menu a {
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        color: white;
        padding: 14px;
        border-radius: 12px;
        transition: .3s;
        font-size: 17px;
    }

        .menu a:hover {
            background: #C0392B;
            transform: translateX(5px);
        }



.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar {
    background: white;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.contenido {
    padding: 30px;
    flex: 1;
}

.contenido-card {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

footer {
    background: white;
    padding: 15px;
    text-align: center;
    color: #666;
    border-top: 1px solid #ddd;
}



.btn {
    border-radius: 12px;
}



.form-control,
.form-select {
    border-radius: 10px;
}



.card {
    border: none;
    border-radius: 18px;
    transition: .3s;
}

    .card:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 30px rgba(0,0,0,.15);
    }

/* =====================================
            DASHBOARD
===================================== */

.dashboard-card {
    border-radius: 20px;
    padding: 30px;
    color: white;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

    .dashboard-card:hover {
        transform: translateY(-8px);
    }

    .dashboard-card i {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .dashboard-card h2 {
        font-size: 38px;
        margin-top: 10px;
        font-weight: bold;
    }

    .dashboard-card h5 {
        margin-top: 10px;
    }

.mesas {
    background: #3498db;
}

.productos {
    background: #f39c12;
}

.pedidos {
    background: #c0392b;
}

.empleados {
    background: #27ae60;
}
.carta-card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 4px 18px rgba(0,0,0,.08);
}

    .carta-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 30px rgba(0,0,0,.15);
    }

    .carta-card img {
        height: 220px;
        object-fit: cover;
    }

.categoria {
    color: #c78b35;
    font-weight: 600;
}

.precio {
    color: #a63d2f;
    font-weight: 700;
}

.btn-resto {
    background: #a63d2f;
    color: white;
    border-radius: 10px;
}

    .btn-resto:hover {
        background: #8d3024;
        color: white;
    }